<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Document</title>
</head>
<body>
        <div class="login-card">
            <h2 class="title">Lista de atividades</h2>
                <form action="/logar" method="POST">
                    <div class="login-fields">
                        <div class="username"><input type="text" name="usuario" class="username-input" placeholder="Nome de usuário" required></div>
                        <div class="password"><input type="password" name="senha" class="password-input" placeholder="Senha" required></div>
                    </div>
                    <button type="submit" class="login-button">Entrar</button>
                </form>
        </div>  
</body>
</html>