<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lista de Atividades</title>
        <link rel="stylesheet" href="static/css/taskStyle.css">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        
    </head>

    <body style="background-color: #2a2b2b;">
        <div class="wrapper">
            <header>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container">                        
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img class="img-responsive" src="static/img/icon.png" alt="Logo" height = "40%" width= "30%"></a>
                        </div>

                        <!-- configuração do menu -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a id="nomeDeUsuario"> <%= usuarioTopo %> </a></li>
                                <form action="/deslogar" method="POST">
                                    <li><button type="submit">Logout</button></li>
                                </form>
                            </ul>
                        </div>
                    </div>
                </nav>   
            </header>
        </div>
        <!--Lista de tarefas-->
        <div>
            <div class="card-tarefa">
                <div class="titulo-tarefa"><h3>titulo</h3></div>
                <div class="descricao-tarefa">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
                <div class="botoes-tarefa">
                    <button>+</button>
                    <button>+</button>
                    <button>+</button>
                </div>
            </div>
            <div class="card-tarefa">
                <div class="titulo-tarefa"><h3>titulo</h3></div>
                <div class="descricao-tarefa">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
                <div class="botoes-tarefa">
                    <button>+</button>
                    <button>+</button>
                    <button>+</button>
                </div>
            </div>
        </div>

        <!--Popup de nova tarefa-->
        <div class="popup">
            <div class = "new-task-popup">
                <div class = "popup-content">
                    <h2>Nova tarefa</h2>
                    <div class="new-task-fields">
                        <form action="/novaTarefa" method="POST">                    
                            <div>
                                <p>Título:</p>
                                <input type="text" name="titulo" class="title-input">

                            </div>
                            <div>
                                <p>Descrição: </p>
                                <textarea name="descricao" class="description-input" cols="30" rows="10"></textarea>
                                
                            </div>
                            <div>
                                <p>Categoria</p>
                                <select name="categoria" class="category-select" id="categorySelector">
                                    <% for(var i = 0; i < categoriasQnt; i++) { %>
                                            <option value="<%= listaCategorias[i] %>"> <%= listaCategorias[i] %></option>
                                    <% } %>
                                </select>   
                                <button type="button" class="new-category-btn" id="newCategoryBtn">+</button>
                            </div>
                            <div>
                                <p>Data de conclusão:</p>
                                <input type="date" name="dataConclusao" class="date-input" id="">
                            </div>
                        </div>
                        <button type="submit" class="new-task-btn" id="createBtn">Criar</button>
                        <button type="button" class="task-cancel-btn" id="cancelBtn">Cancelar</button>
                        </form>
                </div>
            </div>
        </div>

        <!--Popup de nova categoria-->
        <div class="popup">
            <div class="new-category-popup">
                <form action="/novaCategoria" method="POST">
                    <label for="nova categoria">Nova categoria:</label>
                    <input type="text" name="novaCategoria" class="category-input">
                    <button type="submit" class="insert-category-btn" id="confirmCategoryBtn">Confirmar</button>
                    <button type="button" class="cancel-category-btn" id="cancelCategoryBtn">Cancelar</button>
                </form>
            </div>
        </div>
        <!--Fim do popup-->

        <input type="button" value="+" class="insert-btn" id="insertBtn">
        

        <script>
            document.getElementById("insertBtn").addEventListener("click", function(){
                document.querySelector(".new-task-popup").style.display = "flex";

           /* alert('Davai')
            var slct = document.getElementById("categorySelector")
            var optn = document.createElement("option")


            var query = categoryModel.find({nomeUsuario: usuarioLogado.nomeUsuario}, {_id: 0, nomeUsuario: 0}, (err, tarefas) => {

            if (err) console.log(err)
            if (tarefas != null){
                query.exec((err, tarefas) => {
                    if(err) console.log(err)
                    for(var i = 0; i < tarefas.length(); i++){
                        optn.text = tarefas[0]
                        optn.value = tarefas[0]
                        slct.appendChild(optn)
                    }
                })
            }
        })*/
            })

            document.getElementById("cancelBtn").addEventListener("click", function(){
                document.querySelector(".new-task-popup").style.display = "none";
            })

            document.getElementById("newCategoryBtn").addEventListener("click", function(){
                document.querySelector(".new-category-popup").style.display = "flex";
            })

            document.getElementById("cancelCategoryBtn").addEventListener("click", function(){
                document.querySelector(".new-category-popup").style.display = "none";
            })
            document.getElementById("confirmCategoryBtn").addEventListener("click", function(){
                document.querySelector(".new-category-popup").style.display = "none";
            })
        </script>
    </body>
</html>