body{
    background-color: #2a2b2b;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
}
header .navbar { 
	margin: 0;
	background: #fc4d84;
	border-radius: 0;
	border-bottom: 2px solid rgba(255,255,255); 

}
header .navbar-default .navbar-nav>li>a {
	margin: 15px 3px;
	padding-top: 6px;
	color: #fff;
	padding-bottom: 6px;
	border-radius: 2px;
}

header .navbar-default .navbar-nav>li>a:hover, 
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li.open>a:hover, 
header .navbar-default .navbar-nav>li.open>a:focus {
	background: #fff;
}

header .navbar-nav .dropdown-menu {
	top: 57px;
	border-radius: 3px;
}
header .navbar-nav .dropdown-menu:after, 
header .navbar-nav .dropdown-menu:before {
	bottom: 100%;
	right: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

header .navbar-nav .dropdown-menu:after {
	border-color: #fff;
	border-bottom-color: #fff;
	border-width: 7px;
}

header .navbar-nav .dropdown-menu:before {
	border-color: #fff;
	border-bottom-color: #fc4d84;
	border-width: 8px;
	margin-right: -1px;
}
header .navbar-brand {
	padding: 0;
	height: auto;
}
header .navbar-brand img {
	position: relative;
	top: 5px;
	max-width: 165px;
}
/* Insert Button */
.insert-btn{
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    padding: 1rem;
    border: 0;
    border-radius: 50%;
    margin: 0;
    font-weight: 1.05rem;
    cursor: pointer;
}
.insert-btn:hover{
    background-color: #fff;
}
.insert-btn:active{
    background-color: #000000;
    color: #fff;
}

.new-task-popup, .new-category-popup{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 5%;
	background-color: #2a2b2b;
	color: white;
	width: 330px;
    height: 65%;
    box-shadow: -13px -13px 20px #323333, 
                 13px 13px 20px #1c1d1d;
    border-radius: 40px;
    padding: 30px 35px 35px 35px;
}

.new-category-popup{
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	position: fixed;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
}

.new-task-fields input, textarea, .category-input{
	
	border: none;
	outline: none;
	background: none;
	margin-bottom: 15px;
	border-radius: 25px;
	box-shadow: inset 8px 8px 8px #1c1d1d,
				inset -8px -8px 8px #323333;
}

.description-input{
	padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
	padding-left: 15px;
	margin-bottom: 15px;
	resize: none;
}
.title-input{
	padding-bottom: 5px;
    padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	width: 260px;
	height: 35px;
}

.date-input{
	padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.category-input{
	padding-left: 15px;
	padding-right: 10px;
	margin-bottom: 0px;
	height: 25px; 
}

.popup button{
	outline: none;
	border: none;
	cursor: pointer;
    width: 92px;
    height: 32px;
	border-radius: 30px;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 15px;
	font-weight: 700;
	background: #fc4d84;
	color: white;
}

.new-task-btn:active{
    box-shadow: inset 8px 8px 8px #b93961,
    inset -8px -8px 8px #fc6c99;
}

.popup h2 {
	margin-top: 0;
	color:#fc4d84;
}

.popup select{
	height: 28px;
	width: 160px;
    padding-left: 13px;
	border: none;
	outline: none;
	background: none;
	margin-bottom: 15px;
	border-radius: 25px;
	box-shadow: inset 8px 8px 8px #1c1d1d,
				inset -8px -8px 8px #323333;
}

.popup select *{
	background-color: #2a2b2b;
	outline: none;
}

.popup p{
	padding-left: 10px;
    margin-bottom: 3px;
}

.popup .new-category-btn{
	width: 28px;
	height: 28px;
	text-align: center;
	padding-left: 0px;
	padding-bottom: 3px;
	padding-right: 2px;
	margin-left: 15px;
}

.card-tarefa{
	display: inline-block;
	border-radius: 30px;
	padding: 20px;
	margin-top: 20px;
	margin-left: 20px;
	width: 300px;
	box-shadow: inset 8px 8px 8px #1c1d1d,
				inset -8px -8px 8px #323333;
}

.titulo-tarefa{
	color: #fc4d84;
	
}

.descricao-tarefa{
	display: inline-block;
	color: white;
	margin-bottom: 10px;
	word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
	white-space: pre-wrap;
	width: 100%;
}

.botoes-tarefa{

	display: inline-block;
	display: block;
}