<div class="card-tarefa">
    <div class="titulo-tarefa"><h3><%= tarefa.titulo %></h3></div>
    <div class="descricao-tarefa"><%= tarefa.descricao %></div>
    <div class="botoes-tarefa">
        <button>+</button>
        <button>+</button>
        <button>+</button>
    </div>
</div>